body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #dda4e7;
}

header {
    text-align: center;
}

h1 {
    color: #333;
}

section {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
.bienvenida {
    color: rgb(120, 8, 239);  
    font-size: 24px;  
    font-weight: bold; 
    text-align: center;  
    margin-top: 20px;  
}
.libros img {
    border: 3px solid #f50707;
    border-radius: 10px;
    padding: 5px;
}